.pagina-ex3 {
    background-color: #F5F6FA;
    height: 100vh;


    .exercicio {
        display: flex;
        flex-direction: column;

        padding: 40px;

        .titulo {
            display: flex;
            align-items: center;
            gap: 10px;

            font-family: "Roboto";
            margin-bottom: 10px;
        }

        hr {
            border: none;
            height: 3px;

            background-color: #37FFF3;
        }
    }

    .secao {
        display: flex;
        flex-direction: column;
        padding: 0px 50px;


        font-family: "Roboto";

        align-items: center;
        justify-content: center;

        .res{
            position: relative;
            left: 127px;    
        }
        


        .txt {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0px 10px;
            height: 213px;
            width: 1200px;

            border-radius: 12px;

            font-size: 16px;
            text-align: center;
            background-color: #FFF;

        }

        .valor-gramas {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            position: relative;
            justify-content: center;
            
            padding: 20px 30px;
            text-align: left;
            gap: 10px;

            font-size: 18px;
            width: 476px;
            height: 187px;
            border-radius: 12px;
            margin-top: 20px;
            margin-bottom: 10px;
            box-shadow: 5px 5px 5px 1px rgb(236, 236, 236);

            background-color: #FFF;

            h1{
                align-self: flex-start;
            }


            button{
                align-self: flex-end;
                width: 216px;
                height: 50px;
                border-radius: 12px;
                border: none;
                color: white;
                background-color: #6278F7;
                margin-top: 20px;
            }

            input{
                font-size: 16px;
                font-family: 'Roboto';
                padding: 0px 10px;
                width: 414px;
                height: 41px;
                border-radius: 12px;
                border: 1px solid #A5A5A5 ;
                color: #383131;
            }
        }
    }
}