.pagina-ex1 {
    background-color: #F5F6FA;
    height: 100vh;

    .secao {
        padding: 0px 50px;
        font-family: "Roboto";
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .txt {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0px 10px;
            height: 213px;

            border-radius: 12px;

            font-size: 15px;
            text-align: center;
            background-color: #FFF;

        }

        .valor-cupom {
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: center;
            
            padding: 20px 30px;
            text-align: left;
            gap: 10px;

            font-size: 18px;
            width: 476px;
            height: 295px;
            border-radius: 12px;
            margin-top: 20px;
            margin-bottom: 10px;
            box-shadow: 5px 5px 5px 1px rgb(236, 236, 236);

            background-color: #FFF;

            button{
                position: relative;
                left: 195px;
                width: 216px;
                height: 50px;
                border-radius: 12px;
                border: none;
                color: #F5F6FA;
                background-color: #6278F7;
                margin-top: 20px;
            }

            input{
                font-size: 16px;
                font-family: 'Roboto';
                padding: 0px 10px;
                width: 414px;
                height: 41px;
                border-radius: 12px;
                border: 1px solid #A5A5A5 ;
                color: #383131;
            }
        }
    }
}