@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
}

.exercicio {
    display: flex;
    flex-direction: column;

    padding: 40px;

    .titulo {
        display: flex;
        align-items: center;
        gap: 10px;

        font-family: "Roboto";
        margin-bottom: 10px;
    }

        .amarelo{
            border: none;
            height: 3px;
            background-color: #FFCE37;
        }
        .verde{
            border: none;
            height: 3px;
            background: #B3FF37;
        }
        .azul{
            border: none;
            height: 3px;
            background: #37FFF3;
        }
        .roxo{
            border: none;
            height: 3px;
            background: #6533B7;
        }
}
.txt {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1275px;
    padding: 0px 10px;
    height: 213px;

    border-radius: 12px;

    font-size: 15px;
    text-align: center;
    background-color: #FFF;

}

